# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
.env
.venv/

# Jupyter
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# Streamlit / data
*.xlsx
!Coffee Shop Sales.xlsx
*.csv

# IDE
.vscode/
.idea/

# Docker
*.env

